.mainContainer {
  background-image: url(/images/bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  gap: 20px;
}

.rightContainer {
  background-color: var(--bg-main-opacity);
  backdrop-filter: blur(10px);
  width: 455px;
  padding: 0 10px;
}

.title, .subtitle {
  font-weight: normal;
  font-family: 'Kadwa', serif;
  text-align: center;
  line-height: 1;
}

.title {
  font-size: 59px;
}

.subtitle {
  font-size: 25px;
}

.titleContainer {
  margin: 40px 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  gap: 20px;
}

.loginButton {
  margin-top: 20px; 
}
