.status {
  color: var(--error-main);
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: -28px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  gap: 20px;
}

.loginButton {
  margin-top: 20px; 
}
