.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.textInput {
  background: none;
  border: 2px solid var(--border-main);
  border-radius: 5px;
  padding: 15px;
  color: var(--text-main);
  margin-top: 5px;
}

.textInput::placeholder {
  color: var(--border-main);
}

.textInputLabel {
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

.textInputLabelHelperContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  background: var(--action-primary);
  padding: 15px;
  border-radius: 5px;
  color: var(--text-alt);
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.textInput:focus {
  outline: 2px solid var(--border-alt);
  outline-offset: -2px;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  background: #4A6D7D;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border-radius: 5px;
  display: grid;
  place-content: center;
}

.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--text-main);
  transform: scale(0);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
  transform: scale(1);
}
